<div>
    <h1>hola</h1>
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Laudantium laborum a alias quam, veniam nobis. Omnis quasi nihil excepturi fuga esse adipisci cum doloremque, eligendi non quisquam. Quasi, ullam perspiciatis.</p>
</div>