---
import "../pages/index.css";
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>
	<body>
		<div class="inicio-sesion">
			<div class="logos-accountingood-1-parent">
			  <img
				class="logos-accountingood-1"
				alt=""
				src="./public/logos-accountingood-1@2x.png"
			  />
	  
			  <div class="frame-child"></div>
			</div>
			<div class="inicio-sesion-inner">
			  <div class="frame-parent">
				<div class="frame-wrapper">
				  <div class="image-3-parent">
					<img
					  class="image-3-icon"
					  loading="lazy"
					  alt=""
					  src="./public/image-3@2x.png"
					/>
	  
					<div class="image-3-wrapper">
					  <img
						class="image-3-icon1"
						loading="lazy"
						alt=""
						src="./public/image-3-1@2x.png"
					  />
					</div>
				  </div>
				</div>
				<div class="frame-container">
				  <div class="frame-group">
					<div class="inicia-sesin-parent">
					  <b class="inicia-sesin">Inicia sesión</b>
					  <b class="con-tu-cuenta">con tu cuenta</b>
					</div>
					<div class="ingresar-button">
					  <div class="correo-electrnico">Correo electrónico</div>
					  <input
						class="new-account-label"
						placeholder="Indica tu correo electrónico"
						type="text"
					  />
					</div>
					<div class="contrasea-parent">
					  <div class="contrasea">Contraseña</div>
					  <input
						class="frame-item"
						placeholder="Escribe tú contraseña"
						type="text"
					  />
	  
					  <div class="password-input-title">
						<div class="olvido-su-contrasea">¿Olvido su contraseña?</div>
					  </div>
					  <div class="ellipse-parent">
						<div class="frame-inner"></div>
						<div class="recordar-contrasea-wrapper">
						  <div class="recordar-contrasea">Recordar contraseña</div>
						</div>
					  </div>
					</div>
					<button class="rectangle-parent">
					  <div class="rectangle-div"></div>
					  <b class="ingresar">Ingresar</b>
					</button>
				  </div>
				</div>
				<div class="setting-options">
				  <div class="aun-no-tienes">¿Aun no tienes una cuenta?</div>
				  <div class="registrate-aqu" id="registrateAquText">
					Registrate aquí.
				  </div>
				</div>
			  </div>
			</div>
		  </div>
		
		
		
	</body>
</html>
