.footer{
    height: 15vh;
    background-color: #172E73;
    padding: 2vh;
    display: flex;
    justify-content: end;
    margin-top: 100%;
}
.titulo{
    display: flex;
    align-items: center;
 
}
.tittleAccounting{
    color: #9BBFE4;
}
.tittleGood{
    color: white;
}