---
import "./tercero.css";
---

<div class="formTerceros">
  <div>
    <div>Registrar terceros</div>
    <div>
      Terceros se refiere a personas o entidades que no forman parte de la
      relación directa entre el negocio y sus socios, accionistas o empleados.
    </div>
  </div>
  <div>
    <div class="claseGrandeFormularios">
      <div>
        <div>Nombre</div>
        <input type="text" placeholder="Nombre" />
      </div>
      <div>
        <div>Nombre contacto</div>
        <input type="text" placeholder="Nombre contacto" />
      </div>
    </div>
    <div class="claseGrandeFormularios">
      <div>
        <div>Nombre comercial</div>
        <input type="text" placeholder="Nombre comercial" />
      </div>
      <div>
        <div>Correo electronico</div>
        <input type="text" placeholder="Correo electronico" />
      </div>
    </div>
    <div class="claseGrandeFormularios">
      <div>
        <div>Tipo de identificacion</div>
        <input type="text" placeholder="Tipo documento" />
      </div>
      <div>
        <div>Numero de identificacion</div>
        <input type="number"placeholder="Numero de idenntificacion" />
      </div>
    </div>
    <div class="claseGrandeFormularios">
      <div>
        <div>Direccion</div>
        <input type="text" placeholder="Direccion">
      </div>
      <div>
        <div>Ciudad</div>
        <input type="text" placeholder="Ciudad">
      </div>
    </div>
    <div class="claseGrandeFormularios">
        <div>
            <div>Indicativo</div>
            <input type="number" placeholder="Indicativo">
        </div>
        <div>
            <div>Numero de telefono</div>
            <input type="number" placeholder="Numero de telefono">
        </div>
    </div>
    <div class="claseGrandeFormularios">
        <div>
            <div>Tipo terceros</div>
            <input type="text" placeholder="Tipo tercero">
        </div>
    </div>
    <div>
      <div></div>
    </div>
  </div>
  <button></button>
</div>
