.formTerceros {
  border: solid 1px rgb(0, 0, 0);
  margin: 5%;
}
.claseGrandeFormularios {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.inputTerceros {
  width: 80vh;
}
.botonContinuar{
    background-color: #172E73;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}